@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    @apply text-blue-500 underline;
}

a:hover {
    @apply text-blue-700;
}

.next:disabled {
    background: #e65;
}

.next:not(:disabled) {
    background: #6e5;
}
